*{
    box-sizing: border-box;

}
/*Paleta de cores usadas no projeto*/
:root{
    --color-white:#fff;
    --color-gray:#efeae4;
    --color-dark: #484848 ;
    --color-green: #beee3b ;
    --color-green2: #0f928c ;
    --color-green3: #006465 ;
    --color-blue: #00c9d2;
}

body{
    display: flex;
    flex-flow:  row wrap;
    justify-content: center;
    align-items: center;
    background:var(--color-gray);
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px 20px 20px;
    background: var(--color-green2);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--color-dark);
}

h2{
    font-size: 2rem;
    width: 100%;
    color: var(--color-white);
    text-align: center;
    font-weight: 900;
}

input{
    width: 95%;
    height: 60px;
    border-radius: 5px;
    border: 1.5px solid var(--color-green2);
    margin-bottom: 15px;
    margin-left: 5%;
    padding-left:20%;
}

input:focus{
    outline-color: var(--color-blue);
} 

.btn{
    width: 90%;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    background-color: var(--color-green3);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s ease;
}

.btn:hover{
    background: var(--color-blue);
    border: none;
}

a{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-white);
}

a:hover{
   letter-spacing: 1px;
}

.input-group{
    width: 90%;
}

.input-icon{
    margin: 0px;
    padding: 2px;
    width: 58px;
    position: absolute;
}
