*{
    box-sizing: border-box;

}
/*Paleta de cores usadas no projeto*/
:root{
    --color-white:#fff;
    --color-gray:#efeae4;
    --color-dark: #484848 ;
    --color-green: #beee3b ;
    --color-green2: #0f928c ;
    --color-green3: #0ba1a3 ;
    --color-blue: #00c9d2;
    --color-error: #d73508;
}

body{
    display: flex;
    flex-flow:  row wrap;
    justify-content: center;
    align-items: center;
    background:var(--color-gray);
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px 20px 20px;
    background: var(--color-green2);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--color-dark);
}

h1{
    font-size: 2rem;
    width: 100%;
    color: var(--color-white);
    text-align: center;
    font-weight: 900;
}

input{
    width: 95%;
    height: 60px;
    border-radius: 5px;
    border: 1.5px solid var(--color-green2);
    margin-bottom: 15px;
    margin-left: 5%;
    padding-left:20%;
}

label{
    display: inline-block;
    width: 85%;
    font-size: 13px;
    margin-top: 15px;
    cursor: pointer;
    word-wrap: break-word;
}

.text-label{
    color: var(--color-white);
}

input:focus{
    outline-color: var(--color-blue);
} 

.btn{
    width: 90%;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    background-color: var(--color-green3);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s ease;
}

.btn:hover{
    background: var(--color-blue);
    border: 1px solid var(--color-white)
}

a{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-white);
}

.link{
    color: var(--color-green);
    text-decoration: underline;
}

.link-login:hover{
    color: var(--color-green);
}

.link-cadastro:hover{
    color: var(--color-green);
}

.input-group{
    width: 90%;
}

.input-icon{
    margin: 0px;
    padding: 2px;
    width: 58px;
    position: absolute;
}

input[type='checkbox']{
    display: inline-block;
    height: 20px;
    width: 5%;
    vertical-align: middle;
}

.erro-geral{
    background: var(--color-error);
    color: var(--color-white);
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.erro-input{
    border: 2px solid var(--color-error);
}

.erro{
    color: var(--color-error);
    text-align: center;
    margin-bottom: 10px;
    
}